<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="checkbox" id="xjl" value="xjl" v-model="checkList">
        <label for="id">xjl</label>
        <input type="checkbox"  id="sjm" value="sjm" v-model="checkList">
        <label for="sjm">sjm</label>
        <input type="checkbox"  id="hz" value="hz" v-model="checkList" @change="onChange">
        <label for="hz">hz</label>
    </div>
    <script src="./vue.js"></script>
    <script>

        const vm =new Vue({
            el:"#app",
            data:{
                checkList:[]
            },
            methods:{
                onChange(){
                    console.log(this.checkList)
                }
            }
        })

    </script>
</body>
</html>